<h1>
    Random	Play:
</h1>
<div>
    Successful	answers	=	<span	id="score"><%=	score	%></span>
</div>
<form	method="get"	action="/quizzes/randomcheck/<%=  quiz.id	%>">
    <p>
        Question:	<b><%=	quiz.question	%></b>
    </p>
    <div	class="wideRow">
        <input	type="text"	class="itemWide"	id="answer"	name="answer"
                  value=""	placeholder="Answer"	autocomplete="off"/>
        <input	type="submit"	class="itemNarrow"	id="send"	value="Check">
    </div>

    <% var tips = quiz.tips; %>
    <% var quizId = quiz.id; %>
    <% var quizAuthorId = quiz.authorId; %>


    <ul>
        <% for (var i in tips) { %>
            <% var tip = tips[i]; %>

            <% var accepted = tip.accepted; %>

            <% if (accepted) { %>

                <li>
                    <%= tip.text %>

                    (by <span class="autor"><%= tip.author.username %></span>)

                </li>
            <% } %>

        <% } %>
    </ul>









</form>
