<h1>
    Juego aleatorio:
</h1>
<div>
    Respuestas correctas	=	<span	id="score"><%=	score	%></span>
</div>
<form	method="get"	action="/quizzes/randomcheck/<%=  quiz.id	%>">
    <p>
        Pregunta:	<b><%=	quiz.question	%></b>
    </p>
    <div	class="wideRow">
        <select class="itemNarrow" default="Respuesta" id="answer" name="answer">
            <option value="sin contestar" selected></option>
            <option value="<%= answers[0] %>"><%= answers[0] %></option>
            <option value="<%= answers[1] %>"><%= answers[1] %></option>
            <option value="<%= answers[2] %>"><%= answers[2] %></option>
        </select>
        <input	type="submit"	class="itemNarrow"	id="send"	value="Check">
    </div>

    <% var tips = quiz.tips; %>
    <% var quizId = quiz.id; %>
    <% var quizAuthorId = quiz.authorId; %>


    <ul>
        <% for (var i in tips) { %>
            <% var tip = tips[i]; %>

            <% var accepted = tip.accepted; %>

            <% if (accepted) { %>

                <li>
                    <%= tip.text %>

                    (by <span class="autor"><%= tip.author.username %></span>)

                </li>
            <% } %>

        <% } %>
    </ul>









</form>
